body {
	background-color: #FE8EC3;
  	background-attachment: fixed;
  	background-size: cover;
  	background-repeat: no-repeat;
}
.logo img{
	margin: 5px auto 0 auto;
	position: relative;
	transform: translate(-60%);
	left:60%;
}

.email, .springbeast, .register_here{
	color:#1F9B63;
}
.email:hover, .springbeast:hover, .register_here:hover{
	color:#FB5B3C;
}
div.menu a:hover {
	color: #1F9B63;
  }

  div.menu .register:hover{
	color:#74c4d9
	}

.springbeast_heading{
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

@media screen and (max-width: 1080px) {
	body {
  	margin: 0;
  	padding: 0;
  	height: 100%;
	}

	body:before {
  	content: "";
  	z-index: -10;
  	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	background: url(/background_images/ragswag_home.png) no-repeat 0 0;
  	background-size: cover
	}
}


@media screen and (max-width: 900px) {
	.logo img{
		width:90%;
	}

.market{
	font-size: 1.25rem;
}
.homecooking{
	font-size: 2rem;
}

